{
  "trailingComma": "es5",
  "quoteProps": "consistent",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "plugins": [
    "prettier-plugin-classnames",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
